* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

.topnav {
    background-color: black;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.topnav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 3px;
}

.topnav a:visited {
    color: white;
}

.container {
    height: 100%;
    margin: 12% auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

.container p {
    color: red;
    margin: 50px auto;
    font-size: 2em;
    font-weight: bold;
}

.container a {
    color: white;
    margin: 40px auto;
    text-decoration: none;
    font-size: 20px;
}

button {
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 40px auto;
    border: none;
}

.project1 {
    width: 300px;
    height: 250px;
    background: url("https://lh3.googleusercontent.com/80-SWIvLBk_fWGNncIAON2aMNh6nNuPnpAEb9ZGZfTn80V0CFEU-JgcBI-p1c3YZzEicEoH_rr9QQDobB87VO0vBgF1LmBmFc_G31CdrPL6a2LmITnVqXUVJxO8Xx72foaS3jdqETBXW-e4Ysml5vtWxTIMmsu5qj1BENudunJDON1diXu7OJYBkdpu3PmpB9Rau5lGddKqiY0QwfDoqWpmDaQ_YT8X-Rb2jElho09TqqLt1EVmDQamKo36MX-5aQIEkya45D3d1MXxVRxW3fqe_1785kZp2sQYVSEXeLoA9cXu6WBdmvRa0We7-3bx6P0UMxLkHoMAdOfOBjfvf64WSbfsl5IsZalfmzTzoQS6oLqRnssSOsf0pgyU-756Aj9-WOYQ0j2fFrztXCELAH1SFaJnU2GH84nIW3KB8Mu8JX1NmyjF78wZqNbHqtgvcByFgnGai3_UpQIx-AI3D98y3XQfAldrr0F_UEQ8uig3Oz0En4deqM6UNMxZaFOclp2RZz3G_2YOkNK8BuRS27LiLj4Fc8mvUfQsBNFqKeL2o68ojnnzuUXo8D8FgVTqyjCHJyqFWwCPzj8JXB3vTGvfTPm9x96FzNzGOH5u2uQy0qg022vArQblYOnlGbGaigc21qbyTQQuiKaXhZDSrrFKopiVw_-eS9bAibvga2DLGE3L9ilgoWV-r3md4xA=w1043-h695-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

.project2 {
    width: 300px;
    height: 250px;
    background: url("https://lh3.googleusercontent.com/zS1yzYQ5jSee16TU-TWqaeIkeMRNBuYy9kLpiix6UdSqy2-qQCkz50tqWCR-c-VAYZH_cwNqTOlgDv1SZtzzmqd5ICCCazZwdc6YnApUET8_3t5MShl0bWLS8s48XGx-3qipJ64qSrFfFjQ1XxoH4r19tv-mdbf-vTl35dYIQRP2A6C2zA0P9LjT_7nSpAX1Gqh_gHLqqMEkxDt7K2YuAokReOSL1v5med5Jhe6W2LoLV81tlWZHk8BP8_8I6OurkkQtppE8uPx9_QXRYaDimfog6h_8h5zVPUWFIa5RTMQMH6lk90djK-woC4lErlXSCCaBgF4fF9l10BrUbynLgNeSV7GZ1Wa7CMD0ACxwzF_yCGZBN7YwwCk__ctFlFjN4IfkS4LhbY5ED0l2kMRQkIUJc5dItQT4-ua14lmUZsmYGg6DHbho0QHKEUE7idN1CdNmTCXSHH6VvgYZQcnaU4vUGmJwjT8hKBeyg1v_EM8RrzfugJzUDG6Un84uS3ZuOM8BX447nfGnUDrzqR-EJUmzahWxpRCYNy7GF2bmfqn362vyKExpWlPhSCgm88MGMiq7KRNBDFAv5OHKICZ5MQcwZoqmUrAHnu0e_TGYiVhy5j3ay125NIPgFX86AkJldL831yhSV2nz7CdL_AgRcJW8TH3QrEiozenD41CApWqbhpr7933GWnXF-9Xjww=w1042-h695-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

.project3 {
    width: 300px;
    height: 250px;
    background: url("https://lh3.googleusercontent.com/fife/ABSRlIrDg8LlTfhIV00h687nglCGEOxNFDCd4RJbQyp0RuF6UyaPLf9400tMn4oNwoNGWbjgzkE_b7O5V0CvDwR45UzAUCwuR3tk0QtKWnkhcRPvd-JBfNmwqc4o8s7YlSqbXrl2gB8a7mrhub-4GART_g1QEG1hhjhJYUGX96tLvlEwyCpHqcMLnpc6Kbu6GOP8DyfczwTT1gOGFpcrFKIla3dEi6kAdyPZHp5RNvF8b-0DC72oaPVduEDGcGhFCO1uJq7ELQENs0RO_nhaMu0JWdrcrRXwB5qBhRBBLgivPtzINA_d6p7rWT-fJt5buK93pV1bWhU1IySYG05MQpF3zoEHwAsnfvGbnw6vlnUH-Jr68ACP3yZBNA4yDz8A-Axgckd_xQWm4udFnBwHH36_IqOcVmrjGvPCeDKC2cmyTxdz7_w7TSyoVhOAc9CMY32TB4yWYLZp487eyyugWK1KNO6gWlgvbx3p6cGWvSHiTSY8Qf5zotXlHlxacg9Lfx2dPLuy0-JHclf88yQwrh9TWeAJ7TUraTAa05NafWUhIdoB7goPtQqEKeJbL84s2i7wPD6N0Skoec2iofJ7Cq-wb9qYIsS-CnatIXU4W57JdoPjF2yY6tWahoU1-Qli8u0CfXUnwKyImNprTJHIpghEvlCiDYGzYhgeZIgoK8PtrZwrM0raOQnJGrs0dsEhLELHtY1W8mi_wT1DyO5dzNf6nmKPH12VaffwckzFUw=s1361-w1361-h623-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

.project4 {
    width: 300px;
    height: 250px;
    background: url("https://lh3.googleusercontent.com/yogBVwgiWZMT6BFWfrLs7qP8BwvSF-vaBUwfIqrvL6esEABQlg-UaIz12QYK70pRhG9rDDmN24a4_p86f3JqU9owxLpcAr-JoacoxsWh1k3EEYFyd0S4OxmFJP7_DPCtb1-q1Yho4kpZ49bV_woHm7Y0s1fvg062wr5pK348ZCQILYc6srHKd9QWCZVvA1m0eaXFLabSp9qu_UkUYQndiI0zO3hxLqKF55RBBCYnBOcjFRnFaIisTA4z2_zgnMXXbU3rJigex0DfzoCvSktC_6hclNTFLijGhL23DmB9h-qFfNuEbvjuxbNObO1h-aTrxlsKd0pz919oXV2dexpsVXYalooPfggpAJ9yj6TEpVwQgDMjYRpce5JBK-gOnEph2xXPd1i5JwcbwXqs1AR-J9gxEIxNcYMPqEWfJ3Y1sNUxTi3ULEoMXbP3Vf2ieVOj-jM2oKnxzo9R88H5x31TcqafcUCHIbUtuMdL37DHfk6oIT3L-HXFPwiWRfQX5ixsLZLo-N3pQuR7K6f6UVHXsYKigpi5PqkSlRo9iPTu9V05sm1Znnscj07MpBZwzEdbnM7r9M6QujJQUGTdB_noJIpGGDQazZx889derPcp12mf2DOV2j5r1My9rcEeC0xTTcJAO4zaYKeH7gTuIAdJgHHMRppiWLLxc1UG_0GUZJ-RxYiDeVGN3POBzLIftZ6QWawtctTsdCyC9BADixj14ZU=w1363-h695-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

.project5 {
    width: 300px;
    height: 250px;
    background: url("https://lh3.googleusercontent.com/XdwgsixzCM_SWU-GtOrmTXNOnWIFVZLrZ1Is99fRwxpeSabqC5SqK9Nw-w0Z7O-xh3wDbnm2FBfEvkoMsoTTR8EzDyj8Vd-mUW3obtfwP70c-ibhshSzx1mJD6QtHh6r4E9lt8-Iq_kuMYrxX9o8i4vu1WFEb0bXAEO8JHTNEK9qyBVInw3a5QaWCRTsuwgPElMclfaatU8nZNyyZcxEKFRSwBAanfKkOfPpS4QxVTZCQroGFh9DxKO2UIWliSwQChh3trei3SFWOQav-ArtUafimqOkAEcGzwOPIdK4brDcnh__I15eT5tgJy0asxkZXhQi0ZlFMrcEfTRHy-93Lk2o2C0sK3lC6TY-NGIZfGiXWSe1J1RbY-olPuQTZGDjGR9M9WH8lVGkgU7rgxvrLkzPYzohqimrvOhYd78ni2PFZcVjx3p0MKg6Vb3pI47Z4RIicWRBiTmh1oeAe0nT1WXFON1XZNcu49yYKgIGxzsfAnLAy4_Qw2V6kAS3kW4RLGTGivBUHcOqhM__Ed-gTebKoc4Ue4DygAc662XZhH2g7G5WvfG3iVbx-H73dsAY8GeKpcQeAPlGElbiknWVw2gmcdFovpGQJC2dOTJnb8cHzYxW4pNCgJg6CYSk7g0gEfxSBMkTb7Cs3rvG99rvtkfEeQ7Mmj-f-U8kMR3sUl0JRePUOY6vdk5F6Yn4YpIwfhc_915nzzPNwQPTMcAt230=w1360-h694-no?authuser=0");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
}

@media screen and (max-width:900px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 50px auto;
    }

    .project1, .project2, .project3, .project4 {
        margin-bottom: 30px;
    }

    
}
